/*Time Labels */
QLabel[Type="1"]{ background-color: rgb(255, 255, 255 , 100); 
    	border-radius: 5px;
	color: rgb(239, 41, 41);
	font: 75 33pt "Al-Jazeera-Arabic";
	center

}
/*Prayer Names Label */
QLabel[Type="2"]{
	color: rgb(255, 255, 255);
	font: 75 33pt "Al-Jazeera-Arabic";

}
/* Clock Properties */
QLabel[Type="3"]{

        background-color: rgb(255, 255, 255 , 100);
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	color: rgb(239, 41, 41);
	font: 75 100pt "Al-Jazeera-Arabic";
	padding-bottom: 150px;
	
}
/* Dates Labels */
QLabel[Type="4"]{

	color: rgb(239, 41, 41);
	font: 75 33pt "Al-Jazeera-Arabic"

}
/*Hadith Position*/
DynamicFontSizeLabel[Type="5"]{

	background-color: rgb(255, 255, 255 , 100);
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
        color: rgb(255, 102, 0);
/*border-image: url(:/new/prefix1/images/HadithBackground.jpg) 0 0 0 0 stretch stretch;*/
}
/*Tab Position*/
QLabel[Type="6"]{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background-color: white;
	font: 75 13pt "Al-Jazeera-Arabic";
}
/*For Aqamah Message */
QLabel[Type="8"]{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background-color: white;
	font: 75 40pt "Al-Jazeera-Arabic";
	padding-bottom: 150px;
}
/* for Aqamah Counter*/
QLabel[Type="9"]{
	font: 75 100pt "Al-Jazeera-Arabic";
}
/*for Time unit in PopUpMessage*/
QLabel[Type="10"]{
	font: 75 30pt "Al-Jazeera-Arabic";
}
/*Prayer Index*/
QLabel[Type="12"]{
background-color: rgb(255, 255, 255);
border-radius: 5px;
	color: rgb(239, 41, 41);
	font: 75 33pt "Al-Jazeera-Arabic";
	center
}
/*Event*/
DynamicFontSizeLabel[Type="13"]{

        background-color: rgb(255, 255, 255 , 100);
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	color: rgb(239, 41, 41);
	


	
}

